<div class="container">
    <!--Banner-->
    <div class="public-banner">
        <div class="row">
            <div class="col-lg-12">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3314.1361685894926!2d-117.91630974898304!3d33.83459883652018!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80dcd624c5bf72d5%3A0xaf5ab8e0c3ce65a3!2s201+S+Anaheim+Blvd%2C+Anaheim%2C+CA+92805!5e0!3m2!1sen!2sus!4v1464204371006" width="1170" height="500" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
        </div>
    </div>

    <div class="page-body">
        <div class="row text-center">
            <div class="col-lg-4">
                <h3>Hours</h3>
                <p>Open 7 days a week 12pm to 9pm.</p>
            </div>
            <div class="col-lg-4">
                <h3>Location</h3>
                <p>
                    1234 Street Name<br />
                    Vancouver, BC<br />
                    604.123.1234
                </p>
            </div>
            <div class="col-lg-4">
                <h3>Reservations</h3>
                <p>For reservations, please call 604.123.1234. 24 hours
                    notice required to cancel a reservation.</p>
            </div>
        </div>
    </div>

</div>
