<div class="container">

    <!--page body-->
    <div class="page-body">
        <!--//appetizers-->
        <div class="appetizers">
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="page-header">Appetizers</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <h3>Green Salad</h3>

                    <p>A great healthy start to your meal.
                        <a href="#" data-toggle="modal" data-target="#salad-modal">View</a>
                    </p>

                    <p class="price">$9</p>
                </div>
                <div class="col-lg-4">
                    <h3>Green Salad</h3>

                    <p>A great healthy start to your meal.
                        <a href="#" data-toggle="modal" data-target="#salad-modal">View</a>
                    </p>

                    <p class="price">$9</p>
                </div>
                <div class="col-lg-4">
                    <h3>Green Salad</h3>

                    <p>A great healthy start to your meal.
                        <a href="#" data-toggle="modal" data-target="#salad-modal">View</a>
                    </p>

                    <p class="price">$9</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <h3>Green Salad</h3>

                    <p>A great healthy start to your meal.
                        <a href="#" data-toggle="modal" data-target="#salad-modal">View</a>
                    </p>

                    <p class="price">$9</p>
                </div>
                <div class="col-lg-4">
                    <h3>Green Salad</h3>

                    <p>A great healthy start to your meal.
                        <a href="#" data-toggle="modal" data-target="#salad-modal">View</a>
                    </p>

                    <p class="price">$9</p>
                </div>
                <div class="col-lg-4">
                    <h3>Green Salad</h3>

                    <p>A great healthy start to your meal.
                        <a href="#" data-toggle="modal" data-target="#salad-modal">View</a>
                    </p>

                    <p class="price">$9</p>
                </div>
            </div>
        </div>

        <!--sandwiches-->
        <div class="sandwiches">
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="page-header">Sandwiches</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <h3>Green Salad</h3>

                    <p>A great healthy start to your meal.
                        <a href="#" data-toggle="modal" data-target="#salad-modal">View</a>
                    </p>

                    <p class="price">$9</p>
                </div>
                <div class="col-lg-4">
                    <h3>Green Salad</h3>

                    <p>A great healthy start to your meal.
                        <a href="#" data-toggle="modal" data-target="#salad-modal">View</a>
                    </p>

                    <p class="price">$9</p>
                </div>
                <div class="col-lg-4">
                    <h3>Green Salad</h3>

                    <p>A great healthy start to your meal.
                        <a href="#" data-toggle="modal" data-target="#salad-modal">View</a>
                    </p>

                    <p class="price">$9</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <h3>Green Salad</h3>

                    <p>A great healthy start to your meal.
                        <a href="#" data-toggle="modal" data-target="#salad-modal">View</a>
                    </p>

                    <p class="price">$9</p>
                </div>
                <div class="col-lg-4">
                    <h3>Green Salad</h3>

                    <p>A great healthy start to your meal.
                        <a href="#" data-toggle="modal" data-target="#salad-modal">View</a>
                    </p>

                    <p class="price">$9</p>
                </div>
                <div class="col-lg-4">
                    <h3>Green Salad</h3>

                    <p>A great healthy start to your meal.
                        <a href="#" data-toggle="modal" data-target="#salad-modal">View</a>
                    </p>

                    <p class="price">$9</p>
                </div>
            </div>
        </div>

        <!--burgers-->
        <div class="burgers">
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="page-header">Burgers</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <h3>Green Salad</h3>

                    <p>A great healthy start to your meal.
                        <a href="#" data-toggle="modal" data-target="#salad-modal">View</a>
                    </p>

                    <p class="price">$9</p>
                </div>
                <div class="col-lg-4">
                    <h3>Green Salad</h3>

                    <p>A great healthy start to your meal.
                        <a href="#" data-toggle="modal" data-target="#salad-modal">View</a>
                    </p>

                    <p class="price">$9</p>
                </div>
                <div class="col-lg-4">
                    <h3>Green Salad</h3>

                    <p>A great healthy start to your meal.
                        <a href="#" data-toggle="modal" data-target="#salad-modal">View</a>
                    </p>

                    <p class="price">$9</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <h3>Green Salad</h3>

                    <p>A great healthy start to your meal.
                        <a href="#" data-toggle="modal" data-target="#salad-modal">View</a>
                    </p>

                    <p class="price">$9</p>
                </div>
                <div class="col-lg-4">
                    <h3>Green Salad</h3>

                    <p>A great healthy start to your meal.
                        <a href="#" data-toggle="modal" data-target="#salad-modal">View</a>
                    </p>

                    <p class="price">$9</p>
                </div>
                <div class="col-lg-4">
                    <h3>Green Salad</h3>

                    <p>A great healthy start to your meal.
                        <a href="#" data-toggle="modal" data-target="#salad-modal">View</a>
                    </p>

                    <p class="price">$9</p>
                </div>
            </div>
        </div>
    </div>

</div>


<!-- salad modal //-->
<div class="modal fade" id="salad-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Appetizer</h4>
            </div>
            <div class="modal-body">
                <div class="text-center">
                    <p><img src="img/salad.jpg" width="400" height="267" alt="Salad"></p>

                    <h2>Green Salad</h2>

                    <p>A great healthy start to your meal.</p>

                    <p class="price">$9</p>
                </div>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div><!-- /.modal -->
