<div class="header">
 <div class="container">
  <div class="row">
   <div class="col-lg-5">
    <h1> My Elegant Restaurant</h1>
   </div>
   <div class="col-lg-7 right">
    <div class="main-nav pull-right">
     <ul class="list-inline">
      <li><a href="index.html">Home</a></li>
      <li class="divider">/</li>
      <li><a href="menu.html">Menu</a></li>
      <li class="divider">/</li>
      <li><a href="about.html">About</a></li>
      <li class="divider">/</li>
      <li><a href="contact.html">Contact</a></li>
      <li>
       <button type="button" class="btn btn-default" data-toggle="modal" data-target="#reservationmodal">Reservations</button>
      </li>
     </ul>
    </div>
   </div>
  </div>
 </div>
</div>